a {
  color: inherit;
  text-decoration: none;
}
.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 50px;
  height: 293px;
}

.header__logo {
  width: 135px;
}

.header__menu {
}
.header__links-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 35px;

  list-style: circle;
}

.header__links-list-item {
  letter-spacing: 1px;
}
.header__links-list-item_no-bullit {
  list-style: none;
}
.header__link {
}
.header__link_active {
  text-decoration: none;
}

.main {
}

.address {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  align-items: flex-start;
  line-height: 24px;
  width: 240px;
  height: 98px;

  font-style: normal;
}

.header__address {
  justify-self: end;
}

.cover {
  display: flex;
  justify-content: center;
  align-items: start;
  position: relative;
  min-height: 757px;
  background-image: url("../images/cover.jpg");
  background-size: cover;
  background-position: center;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 0;
}

.cover__title {
  display: flex;
  line-height: 1.33;
  flex-direction: column;
  justify-content: center;
  margin-top: 165px;
  width: 1000px;
  height: 385px;
  font-size: 100px;
  text-transform: uppercase;
  letter-spacing: 30px;
  color: white;
  z-index: 1;
}
.aligned-text {
  display: block;
}
.aligned-text_left {
  text-align: left;
}

.aligned-text_center {
  text-align: center;
  margin-left: 26px;
}

.aligned-text_right {
  text-align: right;
  margin-right: -30px;
}

.cover__description {
  position: absolute;
  bottom: 50px;
  left: 50px;
  right: 50px;
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.cover__description-text {
  color: white;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 400;
  align-self: center;

  word-spacing: 18px;
  text-align: left;
}
.bet-button {
  all: unset;
  color: white;
  font-size: 22px;
  text-transform: uppercase;
  border: 1px solid white;
  padding: 12px 32px;
  background-color: transparent;
}

.lots {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 723px;
  margin-top: 180px;
}

.lots__heading {
  text-transform: uppercase;
  font-size: 40px;
  margin-left: 60px;
  margin-bottom: 27px;
}
.lots__card-list {
  height: 596px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 24px;
  margin-right: 24px;
  gap: 25px;
  list-style: none;
}
.lots__card-list-item {
  height: 100%;
  flex: 1;
}
.card-link {
  text-decoration: none;
}
.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
.lots__look-more-link {
  font-size: 20px;
  margin-top: auto;
  margin-left: 60px;
  text-decoration: underline;
}
.card__title {
  margin-left: 40px;
  margin-top: 48px;
  margin-right: 40px;
  color: white;
  font-size: 22px;
  text-transform: uppercase;
  text-decoration: underline;
  z-index: 2;
  position: relative;
  display: block;
}
.card__text {
  margin-bottom: 48px;
  margin-left: 40px;
  margin-right: 40px;
  color: white;
  font-size: 20px;
  line-height: 1.2;
  z-index: 2;
  position: relative;
  margin-top: auto;
}

.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  height: 595px;
  margin-top: 120px;
  margin-left: 24px;
  margin-right: 24px;
  gap: 23px;
}

.about__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: center;
  width: 240px;
  height: 240px;
  background-color: black;
  border-radius: 50%;

  margin-top: 35px;
}
.about__logo-image {
  background-image: url(../images/logo-white.svg);
  width: 148px;
  height: 114px;
}
.about__title {
  font-size: 40px;
  margin-bottom: 100px;
  text-transform: uppercase;
}
.about__text {
  display: flex;
  line-height: 1.2;
  flex-direction: column;
  font-size: 20px;
  gap: 24px;
}
.about__column {
}
.about__column:last-child {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.footer {
  display: grid;
  width: 1100px;
  height: 180px;
  margin-top: 180px;
  padding-left: 50px;
  padding-right: 50px;
  grid-template-columns: 1fr 1fr 1fr;
}

.footer__menu {
}
.footer__menu-list {
  display: block;
  text-align: center;
  justify-self: center;
  list-style: none;
  font-size: 18px;
}
.footer__menu-list-item {
}
.footer__menu-link {
  text-decoration: underline;
}
.footer__menu-link_active {
}
.footer__social-list {
  display: flex;
  flex-direction: row;
  justify-self: end;
  gap: 48px;
}
.footer__social-list-item {
  list-style: none;
}
.footer__social-link {
}
.footer__social-icon {
  width: 48px;
  height: 48px;
}
